<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My resume</title>
<link rel= link rel="preconnect" href="https://fonts.gstatic.com">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  
<link rel="stylesheet" href="/views/css/style.css">
</head>
<body>
    <!--main section-->
    <div class="main-section">
                <!--main content section-->
                <div class="main-content-section">
                            <!--about me section-->
                            <div class="about-me">
                                <h2 class="about-me-profesion"> AQA engineer  </h2>

                                <h1 class="abot-me-name">Olexander Semenuk</h1>
                            
                                <p class="abot-me-text">I am a UX / UI designer. I have knowledge of HTML and CSS.  Every day I work  for the result, while getting invaluable experience and pleasure from work. I am mastering new programs for greater productivity. I follow design trends on Behance, Dribble and various Telegram channels. Now in search of work and new achievements!




                                </p>
                            </div>
                        
                    
                    
                           
                
                            <!--my work expirions-->
                        <div class="my-work">
                                <h3 class="main-content-title">Professional experience</h3>
                            <!--my company 1-->
                            <div class="my-company3">
                                <h4 class="my-work-expirions-position"> <span class="my-expirions-company">Business Class </span></h4>   
                                <p class="my-work-expirions-period">Mar 2020 - Now  <span class="my-work-expirions-divider"> | </span>AQA engineer</p>   

                                <ul class="my-work-expirions-duties">
                                    <li class="my-work-expirions-text">Planning the testing process; </li> 
                                    <li class="my-work-expirions-text">Writing and updating project documentation (test plans,
                                        checklists, test cases, bugreports, BCP);</li>
                                    <li class="my-work-expirions-text">Functional testing and site layout testing;</li>
                                    <li class="my-work-expirions-text">Performance testing; </li> 
                                    <li class="my-work-expirions-text">Reating test framework;</li>
                                    <li class="my-work-expirions-text">Development and support of auto tests;</li>
                                    <li class="my-work-expirions-text">Analyzing error logs;</li>
                                    <li class="my-work-expirions-text">Java, Selenide, TestNG/JUnit, Maven, Allure, Jira, Git,
                                        JMeter, Postman, Scrum</li>
                                
                                </ul>
                        </div> 
                           
                                <!--my company 2-->
                            <div class="my-company3">
                                    <h4 class="my-work-expirions-position"> <span class="my-expirions-company">Lenovo UA </span></h4>   
                                    <p class="my-work-expirions-period">Feb 2019-Mar 2020  <span class="my-work-expirions-divider"> | </span>AQA engineer</p>   
    
                                    <ul class="my-work-expirions-duties">
                                        <li class="my-work-expirions-text">Planning the testing process; </li> 
                                        <li class="my-work-expirions-text">Writing and updating project documentation (test plans,
                                            checklists, test cases, bugreports, BCP);</li>
                                        <li class="my-work-expirions-text">Functional testing and site layout testing;</li>
                                        <li class="my-work-expirions-text">Performance testing; </li> 
                                        <li class="my-work-expirions-text">Reating test framework;</li>
                                        <li class="my-work-expirions-text">Development and support of auto tests;</li>
                                        <li class="my-work-expirions-text">Analyzing error logs;</li>
                                        <li class="my-work-expirions-text">Java, Selenide, TestNG/JUnit, Maven, Allure, Jira, Git,
                                            JMeter, Postman, Scrum</li>
                                    
                                    </ul>
                            </div>

                            <!--my company 3-->
                            <div class="my-company3">
                                <h4 class="my-work-expirions-position"> <span class="my-expirions-company">1+1 media </span></h4>   
                                <p class="my-work-expirions-period">Apr 2018-Feb 2019  <span class="my-work-expirions-divider"> | </span>QA engineer</p>   

                                <ul class="my-work-expirions-duties">
                                    <li class="my-work-expirions-text">Planning the testing process; </li> 
                                    <li class="my-work-expirions-text">Writing and updating project documentation (test plans,
                                        checklists, test cases, bugreports, BCP);</li>
                                    <li class="my-work-expirions-text">Manually test Web, iOS android applications; </li>
                                    <li class="my-work-expirions-text">Functional testing and site layout testing;</li>
                                    <li class="my-work-expirions-text">Performance testing; </li> 
                                    <li class="my-work-expirions-text">Reating test framework;</li>
                                    <li class="my-work-expirions-text">Development and support of auto tests;</li>
                                    <li class="my-work-expirions-text">Analyzing error logs;</li>
                                    <li class="my-work-expirions-text">Java, Selenide, TestNG/JUnit, Maven, Allure, Jira, Git,
                                        JMeter, Postman, Scrum</li>
                                
                                </ul>
                            </div>
        
                        </div>
                    
                    
                            <!--my education-->
                            <div class="my-education">
                                <h3 class="main-content-title">Education</h3>
                                <h4 class="my-education-position">QA AUTOMATION «ITEA»</h4>
                                <p class="my-work-education-period">Jul 2019 - Aug 2019   
                                    <!-- <span class="my-work-education-divider">| </span>  Ukraine</p> -->

                                <h4 class="my-education-position">QA COURSES «GALAXY QA ACADEMY»</h4>
                                <p class="my-work-education-period">Jan 2018 - Apr 2018 
                                <!-- <span class="my-work-education-divider">| </span>  Ukraine</p> -->

                                <h4 class="my-education-position">National academy of internal affairs</h4>
                                <h5 class="my-education-management">Associate professor of criminal law</h5>
                                <p class="my-work-education-period">Apr 2015
                                <!-- <span class="my-work-education-divider">| </span>  Ukraine</p> -->
                                
                                <h4 class="my-education-position">National academy of internal affairs</h4>
                                <h5 class="my-education-management">Doctor of Law</h5>
                                <p class="my-work-education-period">Jun 2009
                                <!-- <span class="my-work-education-divider">| </span>  Ukraine</p> -->

                                <h4 class="my-education-position">National academy of internal affairs</h4>
                                <h5 class="my-education-management">Master of Law, qualification of a lawyer</h5>
                                <p class="my-work-education-period">Sep 2002 - Jun 2006
                                <!-- <span class="my-work-education-divider">| </span>  Ukraine</p> -->
                    
            
                            </div>
                    </div>
            
                    <!--my sidebar sectoin -->
                    <aside class="sidebar-section">
                    <img src="img/photo_2022-07-13_15-55-52.jpg" alt="me foto" width="350px">
            
                    <!--my contact section-->
                    <div class="contact-section">
                        <h3 class="sidebar-title">Contacts</h3>
                            <div> 
                            <span class="C">C:</span>  
                                <a class="link-contact" href="tel:+77777777777">+380952056575</a>
                                
                        
                            
                            </div>

                            <div>
                            <span class="E">Е:</span>  
                            <a class="link-contact" href="mailto:vitalija3023@gmail.com" target="_blank">Sashasemenujk@gmail.com</a>
                            
                            </div>

                            <div>
                                <span class="C">L:</span>  
                                <a class="link-contact" href="https://www.linkedin.com/in/sashasemenuk" target="_blank">Linkedin</a>
                            
                            </div>


                          

                            <div>
                            <span class="E">T:</span>  
                            <a class="link-contact" href="#">@sashasemenujk</a>
                            
                            </div>

                    </div>
                    

                    
                     <!--my hard section-->
                     <div class="hard-section"> 
                        <h3 class="sidebar-title">Hard Skills</h3>
                        <ul class="table-hard-section">
                            <li class="section-item"> <span class="section-item-text">Experience in manual and automation testing of web and mobile applications</span> </li>
                            <li class="section-item"><span class="section-item-text">Development and maintenance of a testing framework</span></li>
                            
                            <li class="section-item"><span class="section-item-text">Technical Writing (QA documents)</span> </li>
                            <li class="section-item"><span class="section-item-text">Issue tracking systems: Jira, Planfix</span> </li>
                            <li class="section-item"><span class="section-item-text">Testing frameworks and Libraries: WebdriwerIO, Mocha, ChaiJS, Selenide, TestNG/JUnit, Maven</span> </li>
                            <li class="section-item"><span class="section-item-text">Test Automation tools: Selenium, Selenoid, Postman, Jmeter, Allure</span> </li>
                            <li class="section-item"><span class="section-item-text">CI: Jenkins</span> </li>
                            <li class="section-item"><span class="section-item-text">Other tools: Docker</span> </li>
                            <li class="section-item"><span class="section-item-text">VCS: Git</span> </li>
                            <li class="section-item"><span class="section-item-text">Programming skills in JavaScript, TypeScript, Java</span> </li>
                            <li class="section-item"><span class="section-item-text">OS: Windows/Linux/MacOS</span> </li>
                            
                    
            
                        </ul>


                    </div>
                   
                    <!--my soft section-->
                    <div class="soft-section"> 
                        <h3 class="sidebar-title">Soft Skills</h3>
                        <ul class="table-soft-section">
                            <li class="section-item"> <span class="section-item-text">Sociable</span> </li>
                            <li class="section-item"><span class="section-item-text">Flexibility and adaptability</span></li>
                            <li class="section-item"><span class="section-item-text">GTD</span> </li>
                            <li class="section-item"><span class="section-item-text">Teamwork</span> </li>
                            <li class="section-item"><span class="section-item-text">Creative and critical thinking</span> </li>
                            <li class="section-item"><span class="section-item-text">Honesty</span> </li>
                            <li class="section-item"><span class="section-item-text">Perseverance</span> </li>
                            <li class="section-item"><span class="section-item-text">Tenacity</span> </li>
                            <li class="section-item"><span class="section-item-text">A
                                bility to cope with stress</span> </li>
                    
            
                        </ul>


                    </div>

                   

            
                </aside>
     
            
        </div>   
</body>
</html>